@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click here to see <a href="/messages">all posted messages.</a></p>
    <p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
</div>
